<div class="user-page">
  <div class="user-container container">
    <h2>User Account</h2>
    <p>Welcome, {{ userName }}</p>

    <div class="allergy-section mt-4">
      <h4>Your Allergies:</h4>

      <!-- Multiple select to edit allergies -->
      <select
        multiple
        class="form-select w-50 mx-auto my-3"
        [(ngModel)]="userAllergies"
      >
        <option disabled>Select allergies to remove or add</option>
        <option *ngFor="let allergy of allAllergies" [value]="allergy">
          {{ allergy }}
        </option>
      </select>

      <div *ngIf="userAllergies && userAllergies.length > 0; else noAllergies">
        <ul class="list-group mx-auto" style="max-width: 200px">
          <li class="list-group-item" *ngFor="let allergy of userAllergies">
            {{ allergy }}
          </li>
        </ul>
      </div>
      <ng-template #noAllergies>
        <p>You have no saved allergies.</p>
      </ng-template>

      <!-- Update button to save changes -->
      <button class="btn btn-primary mt-3" (click)="updateAllergies()">
        Save Changes
      </button>
    </div>

    <!-- Logout -->
    <button class="btn btn-outline-danger mt-4" (click)="logout()">
      Logout
    </button>
  </div>
</div>
