<div class="barcode-page">
  <div class="barcode-header">
    <h2>Barcode Scanning</h2>
  </div>

  <div class="barcode-body">
    <div class="scanner-box">
      <div class="camera-preview" *ngIf="isCameraActive">
        <zxing-scanner
          [device]="selectedDevice"
          [formats]="allowedFormats"
          [tryHarder]="true"
          (camerasFound)="onCamerasFound($event)"
          (scanSuccess)="onScanSuccess($event)"
          (scanFailure)="onScanFailure($event)"
          style="display: block; margin: 0 auto; width: 100%; max-width: 350px"
        >
        </zxing-scanner>
      </div>
      <div class="scanner-btns text-center">
        <button
          class="btn start-scan-btn"
          (click)="startCamera()"
          [disabled]="isCameraActive"
        >
          Scan Now
        </button>
      </div>
    </div>

    <div class="result-container">
      <div *ngIf="resultStatus === 'safe'" class="status-card safe-card">
        <img src="assets/safe.png" alt="Safe Icon" />
        <h4>Safe Product</h4>
        <p>This product does not contain allergens.</p>
        <div *ngIf="productName">
          <h5>{{ productName }}</h5>
          <p *ngIf="ingredientsText">Ingredients: {{ ingredientsText }}</p>
          <p *ngIf="allergens && allergens.length">
            Allergens: {{ allergens.join(", ") }}
          </p>
        </div>
      </div>

      <div *ngIf="resultStatus === 'unsafe'" class="status-card unsafe-card">
        <img src="assets/unsafe.png" alt="Unsafe Icon" />
        <h4>Unsafe Product</h4>
        <p>This product contains allergens.</p>
        <div *ngIf="productName">
          <h5>{{ productName }}</h5>
          <p *ngIf="ingredientsText">Ingredients: {{ ingredientsText }}</p>
          <p *ngIf="allergens && allergens.length">
            Allergens: {{ allergens.join(", ") }}
          </p>
        </div>
      </div>

      <div
        *ngIf="resultStatus === 'notfound'"
        class="status-card notfound-card"
      >
        <img src="assets/not-found.png" alt="Not Found Icon" />
        <h4>Product Not Found</h4>
        <p>Help us improve by adding this product to Open Food Facts.</p>
      </div>
    </div>

    <div class="text-center alert alert-danger w-100 mt-3" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>
  </div>
</div>
